.grid {
  display: grid;
  gap: 1rem;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-6 {
  grid-template-columns: repeat(6, 1fr);
}

.col-span-1 {
  grid-column: span 1 / span 1;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.col-span-3 {
  grid-column: span 3 / span 3;
}

.col-span-4 {
  grid-column: span 4 / span 4;
}

.col-span-5 {
  grid-column: span 5 / span 5;
}

.col-span-6 {
  grid-column: span 6 / span 6;
}

@media (min-width: 576px) {
  .sm\:grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .sm\:grid-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .sm\:col-span-1 {
    grid-column: span 1 / span 1;
  }

  .sm\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .sm\:col-span-3 {
    grid-column: span 3 / span 3;
  }

  .sm\:col-span-4 {
    grid-column: span 4 / span 4;
  }

  .sm\.col-span-5 {
    grid-column: span 5 / span 5;
  }

  .sm\.col-span-6 {
    grid-column: span 6 / span 6;
  }
}

@media (min-width: 768px) {
  .md\:grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .md\:grid-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .md\:col-span-1 {
    grid-column: span 1 / span 1;
  }
  .md\:col-span-2 {
    grid-column: span 2 / span 2;
  }
  .md\:col-span-3 {
    grid-column: span 3 / span 3;
  }
  .md\:col-span-4 {
    grid-column: span 4 / span 4;
  }
  .md\.col-span-5 {
    grid-column: span 5 / span 5;
  }
  .md\.col-span-6 {
    grid-column: span 6 / span 6;
  }
}
